__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
.env

data/synthetic/
data/real/images/
data/real/labels/
data/real/transcripts/
checkpoints/
outputs/

assets/fonts/*.ttf
assets/fonts/*.otf

.DS_Store
.vscode/
.idea/
